@model Workout_Builder.ViewModels.WorkoutVM

<div>
    <form method="post" id="addForm" enctype="multipart/form-data" onsubmit="return clientValidation()">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="form-group">
            <label asp-for="Workout.Name" class="control-label">Workout Name</label>
            <input asp-for="Workout.Name" type="text" class="form-control" />
            <span asp-validation-for="Workout.Name" class="text-danger"></span>
            <span id="noNameError" class="text-danger" style="display:none;">Workout name is required.</span>
        </div>

        <div id="exercisesSection">
            <h3 id="exercisesLabel">Exercises</h3>
            @{
                for (int i = 0; i < Model.ExerciseModels.Count; i++)
                {
                    //if this variable is set then the div will be hidden
                    var hiddenDivStyling = "";
                    if (i >= Model.NumExercises)
                    {
                        hiddenDivStyling = "HideOnLoad";
                    }

                    <div id="exerciseDiv_@i" class="row ExerciseDiv @hiddenDivStyling">
                        <br />

                        <div class="row NewExerciseInputs">
                            <div class="action-item col-sm-4 target">
                                <div class="form-group">
                                    <label class="control-label">Exercise Name</label>
                                    @if (Model.ExerciseModels[i].Name == "0")
                                    {
                                        <input asp-for="ExerciseModels[i].Name" value="" id="exerciseNameInput_@i" type="search" class="form-control ExerciseName" autocomplete="off" />
                                    }
                                    else
                                    {
                                        <input asp-for="ExerciseModels[i].Name" id="exerciseNameInput_@i" type="search" class="form-control ExerciseName" autocomplete="off" />
                                    }
                                    <span asp-validation-for="ExerciseModels[i].Name" class="text-danger"></span>
                                    <div class="AutoCompleteDiv"></div>
                                </div>
                            </div>

                            <div class="action-item col-sm-2 target">
                                <div class="form-group">
                                    <label asp-for="ExerciseModels[i].NumSets" class="control-label">Number of sets</label>
                                    <select asp-for="ExerciseModels[i].NumSets" class="form-select NumSetsInput" aria-label="Default select">
                                        <option selected value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                        <option value="7">7</option>
                                        <option value="8">8</option>
                                        <option value="9">9</option>
                                    </select>
                                </div>
                            </div>

                            <div class="action-item col-sm-2 target">
                                <div class="form-group">
                                    <label asp-for="ExerciseModels[i].MasterReps" class="control-label">Number of reps</label>
                                    @if (Model.ExerciseModels[i].CustomSets)
                                    {
                                        <input asp-for="ExerciseModels[i].MasterReps" type="number" class="form-control MasterRepsInput" readonly />
                                    }
                                    else
                                    {
                                        <input asp-for="ExerciseModels[i].MasterReps" type="number" class="form-control MasterRepsInput" />
                                    }
                                </div>
                            </div>

                            <div class="action-item col-sm-2 target">
                                <div class="form-group">
                                    <label asp-for="ExerciseModels[i].MasterWeight" class="control-label">Weight</label>
                                    <div style="display: flex;">
                                        @if (Model.ExerciseModels[i].CustomSets)
                                        {
                                            <input asp-for="ExerciseModels[i].MasterWeight" type="number" class="form-control MasterWeightInput" style="flex: 1;" readonly />
                                        }
                                        else
                                        {
                                            <input asp-for="ExerciseModels[i].MasterWeight" type="number" class="form-control MasterWeightInput" style="flex: 1;" />
                                        }
                                        <span style="flex: 1;">&nbsp Lbs</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        @* show custom sets if this exercise has them *@
                        @if (Model.ExerciseModels[i].CustomSets)
                        {
                            <div class="row CustomRowSets">
                                @for (int j = 0; j < 9; j++)
                                {
                                    int setNumber = j + 1;
                                    if (setNumber <= Model.ExerciseModels[i].NumSets)
                                    {
                                        hiddenDivStyling = "";
                                    }
                                    else
                                    {
                                        hiddenDivStyling = "HideOnLoad";
                                    }
                                    <div class="CustomSetRow CustomSet_@j @hiddenDivStyling">
                                        <span class="SetNumberSpan">Set @setNumber</span>
                                        <div class="action-item col-sm-2 Inline">
                                            <div class="form-group">
                                                <label asp-for="ExerciseModels[i].SetsList[j].Reps" class="control-label">Number of reps</label>
                                                <input asp-for="ExerciseModels[i].SetsList[j].Reps" type="number" class="form-control RepsInput" />
                                            </div>
                                        </div>

                                        <div class="action-item col-sm-2 Inline">
                                            <div class="form-group">
                                                <label asp-for="ExerciseModels[i].SetsList[j].Weight" class="control-label">Weight</label>
                                                <div style="display: flex;">
                                                    <input asp-for="ExerciseModels[i].SetsList[j].Weight" type="number" class="form-control WeightInput" style="flex: 1;" />
                                                    <span style="flex: 1;">&nbsp Lbs</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        }
                        @* hide all custom sets if this exercise doesn't have any *@
                        else
                        {
                            <div class="row CustomRowSets HideOnLoad">
                                @for (int j = 0; j < 9; j++)
                                {
                                    int setNumber = j + 1;
                                    <div class="CustomSetRow CustomSet_@j HideOnLoad">
                                        <span class="SetNumberSpan">Set @setNumber</span>
                                        <div class="action-item col-sm-2 Inline">
                                            <div class="form-group">
                                                <label asp-for="ExerciseModels[i].SetsList[j].Reps" class="control-label">Number of reps</label>
                                                <input asp-for="ExerciseModels[i].SetsList[j].Reps" type="number" class="form-control RepsInput" />
                                            </div>
                                        </div>

                                        <div class="action-item col-sm-2 Inline">
                                            <div class="form-group">
                                                <label asp-for="ExerciseModels[i].SetsList[j].Weight" class="control-label">Weight</label>
                                                <div style="display: flex;">
                                                    <input asp-for="ExerciseModels[i].SetsList[j].Weight" type="number" class="form-control WeightInput" style="flex: 1;" />
                                                    <span style="flex: 1;">&nbsp Lbs</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        }

                        @* delete and customize sets buttons *@
                        <div class="action-item col-sm-4 target">
                            <div class="form-group">
                                <br />
                                @* change button name if custom sets are showing *@
                                @if (Model.ExerciseModels[i].CustomSets)
                                {
                                    <button type="button" id="CustomizeSetsButton_@Model.ExerciseModels[i].Order" class="btn btn-success col-sm-5 CustomizeSetsButton">Hide Sets</button>
                                }
                                else
                                {
                                    <button type="button" id="CustomizeSetsButton_@Model.ExerciseModels[i].Order" class="btn btn-success col-sm-5 CustomizeSetsButton">Customize Sets</button>
                                }

                                <button type="button" class="DeleteExercise btn btn-danger col-sm-5">Delete Exercise</button>
                            </div>
                        </div>

                        @* hidden model properties for this exercise *@
                        <input asp-for="ExerciseModels[i].Order" class="OrderInput" hidden />
                        <input asp-for="ExerciseModels[i].CustomSets" class="CustomSetsInput" hidden />
                    </div>
                }
            } @* end of exercises for loop *@
        </div>

        <div>
            <button id="addExercise" type="button" class="btn btn-warning">Add Exercise</button>
            <span id="maxExercisesMessage" class="text-danger HideOnLoad">&nbspCannot add more than @Model.MaxNumExercises exercises.</span>
        </div>

        <br />
        <button id="submitButton" type="button" class="btn btn-primary" onclick="PrepareClientValidation()">Create Workout</button>
        <button id="submitForm" type="submit" hidden></button>
        <div id="submitSpinner" class="spinner-border text-primary" role="status" hidden></div>

        @* hidden model properties for workout *@
        <div>
            <input id="numExercises" asp-for="NumExercises" hidden />
            <input asp-for="CurrentTemplates" hidden />
            <input id="maxExercises" asp-for="MaxNumExercises" hidden />
            <input id="maxSets" asp-for="MaxNumSets" hidden />
        </div>
    </form>
</div>